{{#isColumn}}
<div data-node="groupBox" class="{{className}} cf js-group-container">
	<div class="Column cf" data-node="group"></div>
</div>
{{/isColumn}}
{{^isColumn}}
	<div class="{{className}} cf" data-node="group"></div>
{{/isColumn}}

