<div class="blk">
	<div class="activeBox">
		{{#isFreeDaren}}<span class="js_recommend_btn"><a href="javascript:void(0);"  data-node="insert">插入推荐产品</a>
		<div class="help-tips" style="margin:0 0 0 5px;">
			<div class="tips" style="width:165px;">
				<p>点击“插入推荐产品”</p>
				<p>插入您在产品详情模块录入的推荐产品</p> 
			</div> 
		</div>&nbsp;</span>
		{{/isFreeDaren}}
		<a href="javascript:void(0);" data-node="moveup">上移</a>&nbsp;
		<a href="javascript:void(0);"  data-node="movedown">下移</a>&nbsp;
		<a href="javascript:void(0);"  data-node="delete">删除</a>&nbsp;
	</div> 
	<div class="toolbarv2 js-text-container">
		<textarea style="width:100%;height:100px;">{{content}}</textarea>
	</div>
</div>